<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="blogs" frontName="blogs">
			<module name="Bathroom_Blog"/>
		</route>
        <route id="postblog" frontName="postblog">
			<module name="Bathroom_Blog"/>
		</route>
        <route id="deleteblog" frontName="deleteblog">
			<module name="Bathroom_Blog"/>
		</route>
	</router>
</config>